body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Custom styles for very small screens */
@media (max-width: 780px) {
  .custom-table {
    font-size: 0.9rem;
  }

  .custom-table th, .custom-table td {
    padding: 0.5rem;
  }

  .custom-form {
    width: 100% !important;
  }

  .custom-container {
    padding: 1rem;
  }
}
